<a href="https://colab.research.google.com/github/JoHanGyun/python.if/blob/main/20516%EC%A1%B0%ED%95%9C%EA%B7%A0_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### page22

In [10]:
#리스트
colors=['red','blue','green']
print(colors)
print(type(colors))
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

['red', 'blue', 'green']
<class 'list'>
red
blue
green
green
blue
red

In [4]:
a=[]
b=list()
print(a)
print(b)
print(type(a))
print(type(b))

[]
[]
<class 'list'>
<class 'list'>

In [9]:
num=range(1,21,2)
print(num)
print(type(num))
num=list(range(1,21,2))
print(num)
print(len(num))
print(type(num))

range(1, 21, 2)
<class 'range'>
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
10
<class 'list'>

In [11]:
#1
price=[500.5000,8900,1800,2500]
fruit=['사과','파인애플','수박']
print(price)
print(type(price))
print(fruit)
print(type(fruit))

[500.5, 8900, 1800, 2500]
<class 'list'>
['사과', '파인애플', '수박']
<class 'list'>

In [12]:
#2
fruit=['사과',1500,'수박',8900]
print(fruit)
print("사과의 자료형은",type(fruit[0]),"이다.")
print("1500의 자료형은",type(fruit[1]),"이다.")
print("수박의 자료형은",type(fruit[2]),"이다.")
print("8900의 자료형은",type(fruit[3]),"이다.")

['사과', 1500, '수박', 8900]
사과의 자료형은 <class 'str'> 이다.
1500의 자료형은 <class 'int'> 이다.
수박의 자료형은 <class 'str'> 이다.
8900의 자료형은 <class 'int'> 이다.

In [14]:
#3
a=[]
b=list()
print(a)
print(b)
print(type(a))
print(type(b))

[]
[]
<class 'list'>
<class 'list'>

In [15]:
#4
num=list(range(1,21,2))
print(num)
print(type(num))
a=list("Korea")
print(a)
print(type(a))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
<class 'list'>
['K', 'o', 'r', 'e', 'a']
<class 'list'>

In [17]:
#5
num=list(range(1,21,2))
print(num)
print(len(num))
print(type(num))
a=list("Korea")
print(a)
print(len(a))
print(type(a))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
10
<class 'list'>
['K', 'o', 'r', 'e', 'a']
5
<class 'list'>

In [20]:
#6
score=[88,95,70,100,99,80,78,50]
print("학생 수는",len(score),"명입니다.")
print("최고 점수는",max(score),"점입니다.")
print("최저 점수는",min(score),"점입니다.")

학생 수는 8 명입니다.
최고 점수는 100 점입니다.
최저 점수는 50 점입니다.

In [25]:
#7
score=[88,95,70,100,99]
print(score[0],score[1],score[2],score[3])
print(score[-1],score[-2],score[-3],score[-4])

88 95 70 100
99 100 70 95

### page23

In [29]:
#8
score=[88,95,70,100,99]
score[0]=10
score[1]=20
score[2]=30
score[3]=40
score[4]=50
print(score)

[10, 20, 30, 40, 50]

In [37]:
#9
animals=['토끼','거북이','사자','호랑이']
i=0
while(i<4):
  print(animals[i])
  i+=1
print()

토끼
거북이
사자
호랑이

In [41]:
#10
nums=[0,1,2,3,4,5,6,7,8,9]
print(nums[2:5:1])
print(nums[1:6:2])
print(nums[0:5:2])

[2, 3, 4]
[1, 3, 5]
[0, 2, 4]

In [42]:
#11
nums=[0,1,2,3,4,5,6,7,8,9]
print(nums[0:5:1])
print(nums[0:7:2])
print(nums[0:5:2])

[0, 1, 2, 3, 4]
[0, 2, 4, 6]
[0, 2, 4]

In [43]:
#12
nums=[0,1,2,3,4,5,6,7,8,9]
print(nums[2:10:1])
print(nums[1:10:2])
print(nums[0:9:2])

[2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [44]:
#13
nums=[0,1,2,3,4,5,6,7,8,9]
print(nums[2:5:1])
print(nums[1:7:1])
print(nums[0:5:1])

[2, 3, 4]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4]

In [47]:
#14
fruits=['사과','오렌지','딸기','포도','감','키위','멜론','수박']
print(fruits[0])
print(fruits[1:3:1])
print(fruits[2:8:1])
print(fruits[7])
print(fruits[4:6:1])
print(fruits[5:8:1])

사과
['오렌지', '딸기']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['감', '키위']
['키위', '멜론', '수박']

In [49]:
#15
print(list("Korea"))

['K', 'o', 'r', 'e', 'a']

In [52]:
#16
my_list=list("PythonIsFun!")
print(my_list)
print(my_list[5:11:1])
print(my_list[7:10:1])
print(my_list[0:4:1])
print(my_list[8:12:1])

['P', 'y', 't', 'h', 'o', 'n', 'I', 's', 'F', 'u', 'n', '!']
['n', 'I', 's', 'F', 'u', 'n']
['s', 'F', 'u']
['P', 'y', 't', 'h']
['F', 'u', 'n', '!']

### page24

In [54]:
#17
s="python"
print(s[2])
print(s[4])
print(s[1:4:1])

t
o
yth

In [56]:
#18
]file="20210505-104830.jpg"
print("촬영 날짜:",file[4:6:1],"월",file[6:8:1],"일")
print("촬영 시간:",file[9:11:1],"시",file[11:13:1],"분")
print("촬영 날짜:",file[15:19:1])

촬영 날짜: 05 월 05 일
촬영 시간: 10 시 48 분
촬영 날짜: .jpg

In [59]:
#19
s="차종:코란도C, 제조사:쌍용, 배기량: 1998"
print(s[13:15:1])

쌍용

In [65]:
#20
jumin="901231-1914983"
year=jumin[0:2:1]
if(jumin[7]=='2'):
  gender="여자"
else  :
  gender="남자"
print("{}년생 {}입니다.".format(year,gender))

90년생 여자입니다.

In [67]:
#21
nums=[1,2,3,4]
nums.append(5)
print(nums)

#요소 삽입
nums.insert(2,99)
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [69]:
#22
list1=[1,2,3,4,5]
list2=[10,11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

In [72]:
#23
score=[88,95,70,100,99]
print("100의 위치:",score.index(100)+1)
print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

100의 위치: 4
99
100
95
[88, 70]

### page25

In [79]:
#24
score=[88,95,70,100,99]
score.remove(99)
print("99삭제 후:",score)
score.sort()
print("리스트 정렬:",score)
score.reverse()
# score.sort(reverse=True)
print("거꾸로 정렬:",score)
score.clear()
print("리스트 삭제:",score)

99삭제 후: [88, 95, 70, 100]
리스트 정렬: [70, 88, 95, 100]
거꾸로 정렬: [100, 95, 88, 70]
리스트 삭제: []

In [84]:
#25
list1=['a','bb','c','d','aaa','c','ddd','aaa','b','cc','d','aaa',]
list1.count('aaa')
print(list1.count('aaa'))

3

In [88]:
mylist=['사과','바나나','파인애플']
mylist.append('키위')
mylist.append('배')
for i in range(0,5):
  print(mylist[i])
  i+=1

사과
바나나
파인애플
키위
배

In [ ]:
scores=[]

while True:
  score=int(input("성적을 입력하세요(종료:-1)"))