<a href="https://colab.research.google.com/github/JoHanGyun/python.if/blob/main/20516%EC%A1%B0%ED%95%9C%EA%B7%A0_2%EC%B0%A8%EC%9B%90%EB%A6%AC%EC%8A%A4%ED%8A%B8~%EB%82%B4%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#38
numbers=[10,20,30],[40,50,60]
numbers

([10, 20, 30], [40, 50, 60])

In [3]:
print(numbers[0])
print(numbers[1])

[10, 20, 30]
[40, 50, 60]

In [5]:
print(numbers[0][2])
print(numbers[1][1])

30
50

In [7]:
for sub in numbers:
  for s in sub:
    print(s,end=' ')

10 20 30 40 50 60

In [15]:
data=[[10,20],[30,40],[50,60],[70,80]]

for i in range(len(data)):
  for j in range(len(data[i])):
    print('%d'%(data[i][j]),end=' ')
  print()

10 20
30 40
50 60
70 80

In [14]:
strings=[["원두커피","라떼","콜라"],["우동","국수","피자","파스타"]]
for i in range(len(strings)):
  for j in range(len(strings[i])):
    print('%s'%strings[i][j],end=' ')
    print()

원두커피 라떼 콜라
우동 국수 피자 파스타

In [17]:
data=[[10,20,30],[40,50],[60,70,80,90]]
print(data)
for i in range(len(data)):
  print("%d"%data[i][0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

In [19]:
score=[[88,76,92,98],[65,70,58,82],[82,80,78,88]]
total=0
totalsub=0
for i in score:
  sum=0
  for j in i:
    sum+=j
  subjects=len(i)
  print("총점: ",sum,"평균: ", sum/subjects) 
  total+=sum
  totalsub+=subjects
print("전체평균: ",total/totalsub)

총점:  354 평균:  88.5
총점:  275 평균:  68.75
총점:  328 평균:  82.0
전체평균:  79.75

In [28]:
seats=[[0,0,0,0,0,0,0,0,0,0],\
       [0,0,0,0,0,0,0,0,0,0],\
       [0,0,0,0,0,0,0,0,0,0],\
       [1,1,1,0,0,0,0,0,1,0],\
       [0,0,0,0,0,1,0,1,0,0],\
       [0,0,0,0,0,0,1,0,0,0],\
       [1,0,1,0,0,0,0,0,0,1]]

for i in range(len(seats)):
  for j in range(len(seats)):
    if seats[i][j]==0:
      print('%3s'%'□',end='')
    else:
      print('%3s'%'■',end='')  
  print()
print('\n※예약 가능: ■, 예약 불가: □')

  □  □  □  □  □  □  □
  □  □  □  □  □  □  □
  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □
  □  □  □  □  □  ■  □
  □  □  □  □  □  □  ■
  ■  □  ■  □  □  □  □

※예약 가능: ■, 예약 불가: □

In [34]:
scores=[[96,84,80],[96,86,76],[89,96,69],[83,86,79],[85,90,83]]

i=0
while i<len(scores):
  sum=0
  j=0
  while j<len(scores[i]):
    sum+=scores[i][j]
    j+=1
  avg=sum/len(scores)
  print("%d번째 학생의 합계: %d, 평균: %.2f"%(i+1,sum,avg))  
  i+=1

1번째 학생의 합계: 260, 평균: 52.00
2번째 학생의 합계: 258, 평균: 51.60
3번째 학생의 합계: 254, 평균: 50.80
4번째 학생의 합계: 248, 평균: 49.60
5번째 학생의 합계: 258, 평균: 51.60

In [ ]:
scores=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[83,86,79],[85,90,83]]
i=0
for i in range(len(scores)):
  sum=0
  for j in range(len(scores[i])):
    sum+=scores[i][j]
  avg=sum/len(scores[i])
  print("%d번째 학생의 합계 : %d, 평균 : %.2f"%(i+1,sum,avg))

In [25]:
[2*n for n in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
num=[]
for i in range(10):
  num.append(i)
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [23]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
even1=[i for i in range(100) if i%2==0]
even2=[i for i in range(1,51) ]
even3=[i for i in range(0,100,2) ]
print(even1)
print(even2)
print(even3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [35]:
li=[]
for n in range(1,10):
  if(n%3==0):
    li.append(n*n)
print(li)

[9, 36, 81]

In [ ]:
numbers=[1,2,3,4,5]
result=[]
for n in numbers:
  if n%2==1:
    result.append(n*2)
print(result)

In [38]:
v=[17,92,18,33,58,7,33,42]

max=v[0]

for i in range(len(v)):
  if v[i]>max:
    max=v[i]
print("최대값: %d"%max)

최대값: 92

In [39]:
for i in [1,2,3]:
  for j in ['a','b','c']:
    print(i*j,end=' ')

a b c aa bb cc aaa bbb ccc

In [40]:
list_a=["l","study","python","language","!"]

for i in list_a:
  if len(i)>=3:
    print(i)

study
python
language