<a href="https://colab.research.google.com/github/JoHanGyun/python.if/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
animals=['토끼','거북이','사자','호랑이']
for i in range(len(animals)):
  print(animals[i])

토끼
거북이
사자
호랑이

In [4]:
for i in animals:
  print(i)

토끼
거북이
사자
호랑이

In [5]:
nums=[1,2,3,4]
nums.append(5)
print(nums)

nums.insert(2,99)
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [7]:
list1=[1,2,3,4,5]
list2=[10,11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

In [10]:
score=[88,95,70,100,99]
print("100의 위치: ",score.index(100)+1)

print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

100의 위치:  4
99
100
95
[88, 70]

In [11]:
list1=['a','bb','c','d','aaa','c','ddd','aaa','b','cc','d','aaa']
length=list1.count('aaa')
print(length)

3

In [14]:
mylist=['사과','바나나','파인애플']
mylist.append('키위')
mylist.append('배')
for a in mylist:
  print(a)

사과
바나나
파인애플
키위
배

In [17]:
emails=[["kim","naver.com"],["hwang","hanmail.net"],["lee","korea.com"],["choi","gmail.com"]]
email_now=[]
for email in emails:
  email_now.append(email[0]+"@"+email[1])
print(email_now)

['kim@naver.com', 'hwang@hanmail.net', 'lee@korea.com', 'choi@gmail.com']

In [22]:
score=[1,3,5,7,9,11,13]
cnt=0
for num in range(len(score)):
  if score[num]<10:
    cnt+=1
    print(score[num],end=' ')
print("\n10보다 작은 수의 개수:",cnt)

1 3 5 7 9
10보다 작은 수의 개수: 5

In [25]:
score=[]
for i in range(5):
  score.append(int(input("성적입력:")))
print(score)
sum=0
for s in score:
  sum+=s
print(f"총점은{sum}이고 평균은{sum/len(score)}입니다.")

성적입력:59
성적입력:66
성적입력:76
성적입력:82
성적입력:79
[59, 66, 76, 82, 79]
총점은362이고 평균은72.4입니다.

In [26]:
data=[[10,20,30],[40,50],[60,70,80,90]]
print(data)
for i in range(3):
  print(data[i][0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

In [30]:
score = [
[88,76,92,98],
[65,70,58,82],
[82,80,78,88],
]
total = 0 #모든 학생 점수 합
totalsub = 0 #모든 학생 과목 수
for student in score:
  sum = 0
  for subject in student:
    sum += subject
  subjects = len(student) #한 학생의 과목 수
  print("총점" ,sum, "평균 " ,sum/subjects )
  total +=sum
  totalsub += subjects
print("전체평균 ", total/totalsub)

총점 354 평균  88.5
총점 275 평균  68.75
총점 328 평균  82.0
전체평균  79.75

In [31]:
questions = ['tr_in', 'b_s', '_axi', 'air_lane']
answers = ['a', 'u', 't','p']
count = 0
for i in range(len(questions)) :
  q = '%s 에서 밑줄(_) 안에 들어갈 알파벳은? ' %questions[i]
  ans = input(ㅑq)
  if ans == answers[i] :
    print('정답입니다!')
    count +=1
  else :
    print('틀렸습니다!')
print("당신의 점수는 %d/4 입니다." %count)

tr_in 에서 밑줄(_) 안에 들어갈 알파벳은? ㅁ
틀렸습니다!
b_s 에서 밑줄(_) 안에 들어갈 알파벳은? ㅑ
틀렸습니다!
_axi 에서 밑줄(_) 안에 들어갈 알파벳은? ㅅ
틀렸습니다!
air_lane 에서 밑줄(_) 안에 들어갈 알파벳은? ㅔ
틀렸습니다!
당신의 점수는 0/4 입니다.