<a href="https://colab.research.google.com/github/JoHanGyun/python.if/blob/main/%EC%A1%B0%ED%95%9C%EA%B7%A0_0817.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def Hi():
  print("Hello World!")
Hi()

Hello World!

In [ ]:
def hi():
  print("Hello World!")
hi()

Hello World!

In [ ]:
def triangle():
  for i in range(5):
    for j in range(i+1):
      print('*',end='')
    print()
triangle()

*
**
***
****
*****

In [ ]:
def name(name):
  print(f"내 이름은 {name}야. 만나서 반가워")

name("채송화")
name("아이유")

내 이름은 채송화야. 만나서 반가워
내 이름은 아이유야. 만나서 반가워

In [ ]:
def even(a):
  if a%2==0:
    print("짝수")
  else:
    print("홀수")
even(11)

홀수

In [ ]:
def triangle(n):
  for i in range(n):
    for j in range(i+1):
      print('*',end='')
    print()
triangle(3)

*
**
***

In [ ]:
def print_n_times(value,n):
  for i in range(n):
    print(value)
print_n_times("안녕하세요",2)
print_n_times("반가워요",3)

안녕하세요
안녕하세요

In [ ]:
def avg(a,b,c):
  sum=a+b+c
  print(sum/3)
avg(3,5,10)

6.0

In [ ]:
import random
def dice_n_times(n):
  for i in range(n):
    k=random.randint(1,6)
    print(i+1,"번째 주사위 굴린 결과:",k)
dice_n_times(6)

1 번째 주사위 굴린 결과: 2
2 번째 주사위 굴린 결과: 1
3 번째 주사위 굴린 결과: 1
4 번째 주사위 굴린 결과: 4
5 번째 주사위 굴린 결과: 3
6 번째 주사위 굴린 결과: 2

In [ ]:
print('^^','안녕하세요','파이썬')

In [ ]:
def intsum(*ints):
  sum=0
  for i in ints:  #for i in (1,2,3)
    sum+=i
  print(sum)
intsum(1,2,3)
intsum(5,7,9,11,13)
intsum(8,9,6,2,9,7,5,8)

6
45
54

In [ ]:
def print_n_times(n,*values):
  for i in range(n):
    for value in values:
      print(value,end=' ')
    print()
print_n_times(3,"안녕하세요", "즐거운", "파이썬")

안녕하세요 즐거운 파이썬
안녕하세요 즐거운 파이썬
안녕하세요 즐거운 파이썬

In [ ]:
def add_mul(choice,*args):
  if choice=="add":
    result=0
    for i in args:
      result=result+i
  elif choice == "mul":
    result=1
    for i in args:
      result=result*i
  print(result)
add_mul('add',1,2,3,4,5)
add_mul('mul',1,2,3,4,5)

15
120

In [ ]:
def star(a,*args):
  for i in args:
    for j in range(i):
      print(a,end='')
    print()
star('*',3,5,2)

***
*****
**

In [ ]:
def print_n_times(value,n=2):
  for i in range(n):
    print(value)
print_n_times("안녕하세요")
print_n_times("안녕히 가세요",3)

안녕하세요
안녕하세요
안녕히 가세요
안녕히 가세요
안녕히 가세요

In [ ]:
def calcstep(begin,end,step=1):
  sum=0
  for num in range(begin,end+1,step):
    sum+=num
  print(f"{begin}부터 {end}까지 숫자 중 {step}간격씩 더한 값은 {sum}")
calcstep(1,100,1)
calcstep(1,100)

1부터 100까지 숫자 중 1간격씩 더한 값은 5050
1부터 100까지 숫자 중 1간격씩 더한 값은 5050

In [ ]:
def fn(a,b,c,d,e):
  print(a,b,c,d,e)
fn(1,2,3,4,5)
fn(a=1,b=2,c=3,d=4,e=5)
fn(e=5,c=3,b=2,a=1,d=4)
fn(1,2,d=4,c=3,e=5)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
def return_test():
  print("A위치입니다.")
  return
  print("B위치입니다.")
return_test()

A위치입니다.

In [ ]:
def return_test():
  return 100
value=return_test()
print(value)

100

In [ ]:
def add(a,b):
  return a+b
value=add(123,300)
print(value)

423

In [ ]:
def big(a,b):
  if a>b:
    return a
  else:
    return b
value=big(5,11)
print(value)

11

In [ ]:
def sum_to_n(n):
  sum=0
  for i in range(1,n+1):
    sum+=i
  print(sum)
sum_to_n(10)

55

In [ ]:
from re import I
def min(*numbers):
  min_value=numbers[0]
  for num in numbers:
    if min_value>num :
      min_value=num
  return min_value
result=min(5,2,7,4)
print("최소값:",result)

최소값: 2